
* {margin: 0; padding: 0;}
ul, li, ol, dd, dl {list-style: none;}
img {max-width: 100%; height: auto;}
/* 이것뿐만 아니라, 초기화 선언이 더 들어갈 수 있음 */

/* 위에 초록색 border 살짝이랑 맨 첫 박스 */
#header .wrap {border-top: 3px solid #00d334;}
#header .wrap .top{width: 1008px; margin: 0 auto;}

/* 멜론티켓(왼쪽 float_, 나머지 오른쪽 float / 이용권 구매, 멜론혜택관, 이벤트, 공지사항 */
#header .top {overflow: hidden;}
#header .top .left {float: left; padding: 11px 7px; font-size: 12px; color: #999999}
#header .top .right {float: right;}
#header .top .right li {display: inline-block; border-left: 1px solid #999999; margin-top: 11px;}
#header .top .right li  a {display: block; padding: 0px 7px; font-size: 12px; color: #999999; text-decoration: none; font-weight: bold;}

/* li 중 자식을 선택하는 선택자, 숫자 1은 아마 첫번째 녀석이라 그런듯? 첫번째(이용권 구매) border만 사라짐 */
#header .top .right li:nth-child(1) {
    border: none;
}

/* 멜론 로고 위에 border 줄 */
#header .wrap-mid {border-top: 1px solid #999999;}

/* 박스 전체 1000px 주고, 중간으로 옮김 */
#header .wrap-mid .mid {width: 1008px; margin: 0 auto; overflow: hidden;}

/* 멜론 로고 */
.wrap-mid .mid .leftimg{float: left;}
/* 오른쪽 로고 */
.wrap-mid .mid .rightimg{float: right; margin-top: 10px;}

/* 검색버튼 박스 */
.wrap-mid .mid .field {
    width: 350px; 
    height: 40px;
    border: none;
    margin: 36px 0 0 11px;
    background-image: url(img_melon/melon_search.png);
    background-repeat: no-repeat;
    overflow: hidden;
    float: left;
}
/* 검색버튼 input 위치, 속성*/
.wrap-mid .mid .field #search {
    margin: 7px 0 0 18px;
    width: 260px;
    height: 28px;
    border: none;
    float: left;
}

/* 검색버튼 이미지 */
.wrap-mid .mid .btn {
    background: url(img_melon/melon_btn.png) #fff;
    width: 45px;
    height: 40px;
    border: none;
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}

/* 멜론차트, 최신음악 .....그 줄 */
#header .wrap-bot {border-bottom: 1px solid #999999;}
#header .bot {overflow: hidden; width: 1000px; margin: 0 auto;  padding: 13px 7px;}
#header .wrap-bot .left {float: left;}
#header .wrap-bot li {display: inline;}
#header .wrap-bot li a {color: #000; font-weight: 900; padding: 10px 7px; text-decoration: none;}
#header .wrap-bot li a:hover{color: #00d344}
#header .wrap-bot .right {float: right;}

/* 최신앨범 글 위에 공백 */
#section .wrap h6{margin-top: 30px;}

/* ===================================== */
/* 사진들 있는 박스 속성들 */
#section .wrap{margin: 0 auto; width: 1008px;}
.content {overflow: hidden;}
.content .list-wrap {float: left; width: 480px;}
.content .slide-wrap {float: left; width: 236px; margin-left: 4px;}
.content .user-wrap {float: left; width: 280px;  margin-left: 8px;}

.list-wrap ul {overflow: hidden;}
/* 사진 배치 6개, 포지션을 추가한 이유는 아래 호버 효과 때문에 넣음 */
.list-wrap ul li{float: left; width: 33.3333%; position: relative;}

/* 사진 안에 이무진 글씨 넣는작업 */
.list-wrap ul li a {position: relative; display: block; width: 156px; height: 156px;}
.list-wrap ul li a > span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #000;
    opacity: 0.7; /* 투명도 */
    height: 25px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
}

/* ==================호버에 대한 내용, 위에 position: relative 넣은것도 봐야함============================= */

/* 호버인데, 미리 준비돼있는 내용 띄우기 */
.list-wrap ul li .hover-content {
    position: absolute;
    width: 156px;
    height: 156px;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.7);
    opacity: 0; /* 숨겨놓는다 */
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* li에 hover가 닿으면, 그 바로 아래있는 hover-content의 opacity를 1로 설정 */
.list-wrap ul li:hover > .hover-content {
    opacity: 1;
}

/* position:relative를 넣는 이유는 자기 위치에서 띄우기 위함 */
/* 글씨 띄어짐 */
.list-wrap ul li .hover-content > a{
    position: relative;
    left: 0;
    top: 60px;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

/* ======================================== */

.list-wrap li.first { /* li인데 클래스 .first를 가진 li, 지금 용도는 간격 띄어주는거 */
    margin-bottom: 4px;
}

/* 로그인 전체박스 */
.login-wrap {
    border: 1px solid #999999;
    padding: 20px 15px;
    height: 119px;
    box-sizing: border-box;
    background-color: #fbfbfb;
}


/* 로그인 창 왼쪽, 오른쪽 정렬 */
.login-wrap .top {overflow: hidden;}
.login-wrap .top .left {float: left; font-size: 13px; color: #999999;}
.login-wrap .top .right {float: right; font-size: 13px; color: #999999;}

/* 버튼 속성 */
.login-wrap > button {
    width: 100%;
    border: none;
    background-color: #00d334;
    color: white; 
    font-weight: 900; 
    padding:  7px 5px;
    margin-top: 5px;
}

/* 로그인이랑, 아래 사진 간격 */
.promotion-wrap {
    margin-top: 8px;
}

.banner {margin-top: 20px;}

.issue-bottom {overflow: hidden;}
.issue-bottom .hot {float: left; width:720px}
.issue-bottom .ranking {float: right; width: 280px; height:472px;}
.issue-bottom .hot h4 {border-bottom: #999999; padding: 10px 4px;}

.hot .list-hot .pic {display: inline-block; margin-left: 10px;}
.hot .list-hot .pic a {display: block; margin-top: 5px;}

.hot .list-hot .pic .info a {text-decoration: none; color: black; font-size: 14px; margin-top: 5px;}
.hot .list-hot .pic .info a .detail{font-size: 10px; display: block; margin-top: 5px;}

.issue-bottom .ranking {padding: 10px 4px;}



/* 글씨는 p태그 글씨 */